name: Deploy Backend

on:
  push:
    branches: [ "master" ]
    paths:
      - "src/**"
      - "pom.xml"
      - ".github/workflows/**"

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        
      - name: Build JAR
        run: ./mvnw clean install -DskipTests
        
      - name: Deploy to Server
        run: |
          sudo cp target/postgres-demo-0.0.1-SNAPSHOT.jar /opt/backend-app/app.jar
          sudo systemctl restart backend-app
