name: Deploy Backend

on:
  push:
    branches: [ "main" ]
    paths:
      - "src/**"
      - "pom.xml"
      - ".github/workflows/**"
    paths-ignore:
      - "etc/**"
      - "var/log/**"
      - "**.md"

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        
      - name: Build JAR
        run: mvn clean install
        
      - name: Deploy to Server
        run: |
          cp target/postgres-demo-0.0.1-SNAPSHOT.jar /opt/backend-app/app.jar
          sudo systemctl restart backend-app
